<section class="home-section">
  <!--carousel-->
  <div class="carousel">
    <span id="item-1"></span>
    <span id="item-2"></span>
    <span id="item-3"></span>
    <div class="carousel-item item-1"></div>
      <div class="carousel_slider_container">
          <div class="current-time-delay">00</div>
          <input type="range" min="0" max="100" value="0" class="carousel-slider"/>
          <div class="max-time-delay">00</div>
      </div>
      <a class="arrow arrow-prev" href="#item-3"></a>
      <a class="arrow arrow-next" href="#item-2"></a>
      <button id="carousel-stop">Pause</button>
    </div>
  </div>
  <!--control center-->
 
  <!--playlist-->
  <h1 class="playlist-heading">recently played</h1>
  <div class="playlists-group">
    <div class="playlists-card">
      <img src="./assets/images/cover9.png" class="playlist-card-img" alt="cover9">
      <p class="playlist-card-name">top international</p>
    </div>
    <div class="playlists-card">
      <img src="./assets/images/cover7.png" class="playlist-card-img" alt="cover7">
      <p class="playlist-card-name">BTS collection</p>
    </div>
    <div class="playlists-card">
      <img src="./assets/images/cover5.png" class="playlist-card-img" alt="cover5">
      <p class="playlist-card-name">bollywood hits</p>
    </div>
    <div class="playlists-card">
      <img src="./assets/images/cover4.png" class="playlist-card-img" alt="cover4">
      <p class="playlist-card-name">top 50</p>
    </div>
    <div class="playlists-card">
      <img src="./assets/images/cover8.png" class="playlist-card-img" alt="cover8">
      <p class="playlist-card-name">justin biber</p>
    </div>
  </div>
  <h1 class="playlist-heading">base on your listening</h1>
  <div class="playlists-group">
    <div class="playlists-card">
      <img src="./assets/images/deep focus.png" class="playlist-card-img" alt="cover9">
      <p class="playlist-card-name">Deep Focus</p>
    </div>
    <div class="playlists-card">
      <img src="./assets/images/rock-classics.jpg" class="playlist-card-img" alt="cover7">
      <p class="playlist-card-name">Rock Classics</p>
    </div>
    <div class="playlists-card">
      <img src="./assets/images/chill-hits.jpg" class="playlist-card-img" alt="cover5">
      <p class="playlist-card-name">Chill Hits</p>
    </div>
    <div class="playlists-card">
      <img src="./assets/images/peaceful-piano.jpg" class="playlist-card-img" alt="cover4">
      <p class="playlist-card-name">Peaceful Piano</p>
    </div>
  </div>
</section>
